<footer>
    <p>Redes sociais</p>
    <section class="contact">
            <a href="https://www.facebook.com/gamaacademybr">
                <i class="bi bi-facebook"></i>  
            </a>    
            <a href="https://www.linkedin.com/school/gama-academy/">
                <i class="bi bi-linkedin"></i>
            </a>  
            <a href="https://www.instagram.com/gamaacademy/">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="https://www.youtube.com/channel/UC8QisS88i22HYQN3jwFiq9Q">
                <i class="bi bi-youtube"></i>
            </a>
            <a href="https://twitter.com/gamaacademybr">
                <i class="bi bi-twitter"></i>
            </a>
    </section>
</footer>