<header>
    <section class="container">
        <img class="logo"src="/images/logotipo.png" alt="logo">

        <nav>
            <div class="navbar">
                <ul>
                    <li><a href="/">Inicio</a>
                    <li><a href="/cursos">Cursos</a></li>
                </ul>
            </div>
            <div class="add_curso">
                <a href="/cursos/novocurso"><img src="/images/add.svg" alt=""> Adicionar Curso</a>
            </div>
        </nav>
    </section>
</header>