<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="images/LOGO.png">
    <link rel="stylesheet" href='/stylesheets/reset.css'>
    <link rel='stylesheet' href='/stylesheets/partials/footer.css'>
    <link rel='stylesheet' href='/stylesheets/partials/header.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    
  </head>
  <body>
    <%- include('./partials/header') %> 
    <section class="banner">
      <div class="somos_gama">
        <a href="/cursos">olá, somos a gama finance!</a>
      </div>
    </section>
    <div class="body-index">
    
  </div>
  <%- include('./partials/footer') %> 

  </body>
</html>

